# Basic Information 
title: Xi Yang (杨曦)
description:
repository:
google_analytics_id: # your google analytics id (optional)

# Author Information
author:
  name             : "Xi Yang"
  avatar           : "images/profile.jpg"
  bio              : "Postdoctoral Researcher at HKUST"
  location         : "Hong Kong"
  employer         :
  pubmed           : 
  googlescholar    : "https://scholar.google.com/citations?user=ddfKpX0AAAAJ&hl=en"
  email            : "xiyang@ust.hk"
  researchgate     :  
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           :
  google_plus      :
  keybase          :
  instagram        :
  impactstory      : 
  lastfm           :
  linkedin         : 
  dblp             : 
  orcid            : 
  pinterest        :
  soundcloud       :
  stackoverflow    : 
  steam            :
  tumblr           :
  twitter          : 
  vine             :
  weibo            :
  xing             :
  youtube          :
  wikipedia        :


# SEO Related (optional)
google_site_verification :
bing_site_verification   :
baidu_site_verification  :

# Site Settings
locale                   : "en-US"
title_separator          : "-"
name                     : &name "Your Name"
url                      : https://yourusername.github.io
baseurl                  : ""
repository               : "yourusername/yourusername.github.io"
teaser                   :
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false
comments:
  provider               : 

# Google Scholar Stats
google_scholar_stats_use_cdn : true

# Analytics
analytics:
  provider               : "google-gtag"
  google:
    tracking_id          : # your google analytics id


# Site Author
author:
  avatar           : "profile.jpg"
  bio              : "Postdoctoral Researcher at HKUST"
  location         : "Hong Kong"
  employer         :
  googlescholar    : "https://scholar.google.com/citations?user=YOUR_SCHOLAR_ID"
  email            : "your.email@ust.hk"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "yourusername"
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         :
  orcid            : "https://orcid.org/YOUR_ORCID_ID"
  pinterest        :
  soundcloud       :
  stackoverflow    :
  steam            :
  tumblr           :
  twitter          : "yourusername"
  vine             :
  weibo            :
  xing             :
  youtube          :
  wikipedia        :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
